table,td,th{
  border: 1px solid;

}

.deletediv{
  margin-left: 20em;
  position: absolute;
}
#deleted-button:hover{
  margin-left: 20em;
  position: absolute;
  background-color: red;
}
.no{
  margin-left: 35em;
  margin-top:4em;
  position: absolute;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #2980B9;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
 
  
}
.pd{
  margin-left: 20em;
}
.pd input{
  width: 30%;
  box-sizing: border-box;
  border: 4px solid #ccc;
  border-radius:10px;
  background-color: white;
  background-image: url("static/images/searchicon.png")
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 6px 10px 1px 5px;
}
.d-update{
  margin-left: 28em;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.container ul a{
  text-decoration: none;
}
.sinput{
  width: 100%;
  box-sizing: border-box;
  border: 4px solid #ccc;
  border-radius:25px;
  font-size: 16px;
  background-color: white;
  background-image: url("static/images/searchicon.png")
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 8px 20px 12px 50px;
}